// Colours
// ----------------------------------------------

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$blue:   #0275d8 !default;

// Create grayscale
$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Reassign color vars to semantic color scheme
$brand-primary:             $blue !default;

// Fonts
// ----------------------------------------------

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: .8rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$dt-font-weight: $font-weight-bold !default;

$text-muted: $gray-light !default;

// Body
// ----------------------------------------------

$body-bg:       $white !default;
$body-color:    $gray-dark !default;

// Links
// ----------------------------------------------

$link-color:            $brand-primary !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// Tables
// ----------------------------------------------

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;
