header {
  background-color: white;
  padding: 13px;

  > div {
    @include clearfix;
    @include contain;
  }

  nav {
    float: left;

    &:last-child {
      float: right;
    }
  }
}

@import 'header/logo';
