<% page_title 'Organisations', head_only: true %>

<div class="ui cards">
  <% @organisations.each do |org| %>
    <%= link_to org, class: 'ui card' do %>
      <div class="content">
        <div class="header"><%= org %></div>
        <div class="meta">
          <span><%= pluralize org.members.count, 'member' %></span>
        </div>
      </div>
    <% end -%>
  <% end %>
</div>

<br>

<%= link_to 'New Organisation', new_organisation_path %>
