<table class="ui table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Accountable</th>
    </tr>
  </thead>
  <tbody>
    <% cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= link_to card.title, organisation_card_path(card.organisation, card.number) %></td>
        <td><%= link_to card.organisation, card.organisation %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
