<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Accountable</th>
    </tr>
  </thead>
  <tbody>
    <% cards.each do |card| %>
      <tr>
        <td><%= card.number %></td>
        <td><%= link_to card.title, card %></td>
        <td><%= link_to "#{card.accountable_type}:#{card.accountable}", card.accountable %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
