<% page_title "##{@card.number} #{@card}" %>

<div class="ui grid">
  <div class="ten wide column">
    <%= raw html_pipeline.call(@card.description)[:output] %>
  </div>
  <div class="six wide column">
    <p>
      <strong>Closed:</strong>
      <%= @card.closed? %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @card.state %>
    </p>
  </div>
</div>
