<% page_title @card %>

<div>
  <%= raw html_pipeline.call(@card.description)[:output] %>
</div>

<p>
  <strong>Closed:</strong>
  <%= @card.closed? %>
</p>

<p>
  <strong>State:</strong>
  <%= @card.state %>
</p>



<%= link_to 'Back', cards_path %>
