// Reference:
// http://www.google.com/design/spec/components/text-fields.html
[type="text"],
[type="password"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="email"],
[type="number"],
[type="search"],
[type="tel"],
[type="time"],
[type="url"],
[type="color"],
textarea {
  background: transparent;
  border-bottom: 1px solid $light-gray;
  border-radius: 0;
  margin: rem-calc(15 0 12);
  padding: rem-calc(16 0 8);

  &::-webkit-input-placeholder,
  &::-webkit-input-placeholder {
    color: $black;
  }

  &::placeholder {
    color: $dark-gray;
  }

  &:focus {
    background: transparent;
    border-bottom: 2px solid $primary-color;
    position: relative;
  }

  + label {
    cursor: text;
    display: none;
    font-size: $input-font-size;
    height: 0;
    opacity: .5;
    position: relative;
    top: -40px;
    transition: top .45s ease-in-out, color .45s ease-in-out, font-size .45s ease-in-out;
  }

  &:focus,
  &:not(.empty) {
    + label {
      color: $primary-color;
      font-size: $form-label-font-size;
      opacity: 1;
      top: -66px;
    }
  }
}
